.wp-block-gallery {

    .blocks-gallery-grid{
        margin: 0;
        padding: 0;
    }

    .blocks-gallery-caption {

    }

    .blocks-gallery-item {
        margin-left: 0;
        padding: 0;
        figcaption {

        }
    }
}